.lw {
  color: #B50100;
  font-family: chiller;
  font-size: 128px;
}

body {
  background: #242424;
  margin: 75px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height:  50px;
  background: black;
  -webkit-box-shadow: 0 0 50px #000000;
  -moz-box-shadow: 0 0 50px #000000;
  box-shadow: 0 0 50px #000000;
}

.dropbtn {
  background-color: #000000;
  color: #B2B2B2;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.stickRight {
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  -webkit-box-shadow: 0 0 50px #000000;
  -moz-box-shadow: 0 0 50px #000000;
  box-shadow: 0 0 50px #000000;
  z-index: 1;
}

.dropdown-content a {
  color: #B2B2B2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #242424;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5C0000;
}

input[type=text] {
    width: 175;
    margin-top: 2px;
    margin-right: 25px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding: 10px 40px 10px 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: black;

  -webkit-box-shadow: 0 0 50px #000000;
  -moz-box-shadow: 0 0 50px #000000;
  box-shadow: 0 0 50px #000000;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: center;
  background-color: #242424;
}

.flex-container>div {
  background-color: #242424;
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.red{
  color: #B50100;
}

.grey{
  color: #B2B2B2;
}

.small, ul {
  float: center;
  list-style-type: none;
  line-height: 1;
}

a {
  color: #B2B2B2;
  text-decoration: none;
  font-family: arial;
  font-size: 15px;
}

h1, h2, h3 {
  font-family: verdana;
  font-size: 20px;
}

p, li{
  font-family: verdana;
  font-size: 15px;
}

.footerSpace {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
